<style>
    .footer {
            background-color: #331d57;
            color: rgba(255, 255, 255, 0.918);
            padding: 22px 0;
            margin-top: 95px;
    }
    .footer a {
        color: rgb(255, 255, 255); 
    }
    .footer b {
        color: inherit; 
    }
</style>

<footer class="footer">
  <div class="content">
    <b>Curso: Ingeniera del Software 3<br></b>
    <b>Estudiante: Christian Salinas<br></b>
    <a href="https://gitlab.com/chrisdsn2/03-y-25366-motor-plantillas" target="_blank">Repositorio del Proyecto</a>
  </div>
</footer>

